.DS_store
.*.swp
.github_token
nginx/config/vhosts/pages-passwords.txt
nginx/config/ssl/dhparam*
nginx/config/ssl/keys/*
pages/config/pages.secret
*/config/env-secret.sh
*/config/id_rsa*
*/config/known_hosts*
ssh/config/id_rsa*
ssh/config/known_hosts*
\#*\#
.ruby-version
